.sidebar a {
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar .collapse a {
    font-size: 14px;
    background: #34495e;
    border-bottom: none;
    padding-left: 25px;
}

.sidebar .collapse a:hover {
    background: #1abc9c;
    color: white;
}

.sidebar i.fa-chevron-down {
    font-size: 10px;
}
[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.3s;
}